# OpenAI API Configuration
OPENAI_API_KEY=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

# Server Configuration
NODE_ENV=development
SERVER_PORT=5001
CLIENT_PORT=3000
CLIENT_URL=http://localhost:3000

# JWT Configuration
JWT_SECRET=2f6480e5e5f9d99d4df3d3857334b2c5f6639870c65f606a577bc23991f28900

# Database Configuration
DATABASE_URL=./server/data/dsa_companion.db 